<section id="home-page-couverture">
	<div class="container">
		<h1 class="bienvenue">
			<span>Talents </span> <span>Bakeli</span>
		</h1>
		<div class="col-md-12 home-textuel-container">
			<span class="text-premier">Bakeli et ses talents réunis autour d'un état d'esprit, le<span class="travail"> travail.</span></span><br>
			<span class="text-deuxieme"><span class="recrutez">Recrutez nos talents,</span> formés dans la pratique à créer de la valeur ajoutée.</span>	
		</div>
		<div class="col-md-6 offset-md-3 search-container">
    		<form>
    			<div class="ui fluid icon input">
					<input type="text" placeholder="Rechercher une compétence">
					<i class="search icon"></i>
				  </div>
    			
    		</form>
  		</div>
		
	</div>

	<div class="filtre"></div>
	
</section>

