<footer id="footer">
  <div class="row">
      <div class="col-md-4 footer-col bloc_1">
        <h2 class="footer-bloc-title"><span class="talents">Talents</span> <span class="bakeli"> Bakeli</span></h2>
        &copy; {{ currentYear }} - Tous droits réservés - <a href="#">By Bakeli</a>
      </div>
      <div class="col-md-4 footer-col bloc_2">
        <h2 class="footer-bloc-title">Général</h2>
        <div class="footer-bloc-content">
          <div class="bloc-item">
              <i class="fas fa-angle-double-right"></i>
              <a href="#">A Propos</a>
          </div>
          <div class="bloc-item">
              <i class="fas fa-angle-double-right"></i>
              <a href="#">Créer un compte</a>
          </div>
          <div class="bloc-item">
              <i class="fas fa-angle-double-right"></i>
              <a href="#">Se connecter</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 footer-col bloc_3">
        <h2 class="footer-bloc-title">Réseaux Sociaux</h2>
        <div class="footer-bloc-content">
          <button class="ui circular facebook icon button">
            <i class="facebook icon"></i>
          </button>
          <button class="ui circular twitter icon button">
            <i class="twitter icon"></i>
          </button>
          <button class="ui circular linkedin icon button">
            <i class="linkedin icon"></i>
          </button>
          <button class="ui circular google plus icon button">
            <i class="google plus icon"></i>
          </button>
        </div>
      </div>
  </div>
</footer>
