.hidden {
  display: none;
}

#filter {
  text-align: center;
  /* background-color: #333; */
  padding: 15px;
}

#filter button {
  border: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  color: #000;
  cursor: pointer;
  padding: 5px 20px;
  background: transparent;
  font-weight: 500;
}

#filter button.active {
  background-color: #ff9800;
  border-radius: 5px;
  font-weight: 800;
}

#filter button:focus {
  outline: 0;
}

#posts {
  max-width: 1200px;
  margin: 0 auto;
}

#posts .post {
  float: left;
}

#posts .post img {
  position: relative;
}

@media screen and (max-width: 600px) {
  #posts .post {
    width: 50%;
  }
}

.talent-row {
  margin-left: 0px;
  margin-right: 0px;
}

html, #content-wrapper {
  height: 100% !important;
}

.homepage-row {
  margin-bottom: 75px;
}

.talent-col-row {
  border: 1px solid;
  margin-top: 15px;
  /* padding: 15px; */
  border-radius: 5px;
}

img.img-responsive.talent-avatar-img {
  width: 68px;
}

.talent-value {
  text-align: center !important;
  border: 1px solid #ececec;
  border-radius: 0 5px 0px 0;
}

span.value {
  text-align: center;
  line-height: 5 !important;
}

.talent-title-container {
  text-align: center;
  padding: 25px;
  border-top: 1px solid #e8e8e8;
  margin-top: 0px;
  border-bottom: 1px solid #e8e8e8;
}

.talent-skills {
  text-align: center;
  padding: 25px;
  border-top: 1px solid #e8e8e8;
  margin-top: 0px;
  border-bottom: 1px solid #e8e8e8;
}

.details-hire {
  text-align: center;
  /* padding: 5px; */
  border-top: 1px solid #e8e8e8;
  margin-top: 0px;
  border-bottom: 1px solid #e8e8e8;
}

.details-container {
  border: 1px solid #e8e8e8;
  padding: 15px;
  border-radius: 0 0 0 5px;
}

.hire-btn-container {
  border: 1px solid #e8e8e8;
  padding: 15px;
}

.hire-btn-container button.hire-btn {
  width: 100%;
  height: 100%;
  border-radius: 0 0 5px 0;
}

.hire-link, .details-container {
  cursor: pointer;
}

.talent-col-row {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.talent-col-row:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

h1.slogan.text-center {
  padding: 25px;
  font-size: 36px;
}

.no-gutter {
  margin-left: 0;
  margin-right: 0;
}

.no-gutter [class*='col-']:not(:first-child), .no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}