ul.right-nav-talent li {
    list-style: none;
    display: inline-block;
    margin: 9px;
    border: 1px solid #fff;
    padding: 10px;
    width: 50px;
    border-radius: 5px;
    background: #009688;
}

ul.right-nav-talent li a {
    font-size: 17px;
    text-align: center;
    color: #fff;
    vertical-align: middle;
    display: table-cell;
    font-weight: 600;
}

ul.right-nav-talent li a i {
    font-size: 20px;
    vertical-align: middle;
}

/* .navbar{
    background: #ff9800 !important;
} */
span.talents {
    display: inline-block;
    background: #fff;
    color: #009688;
    padding: 16px;
    /* border-radius: 5px; */
    font-size: 28px;
    font-weight: 600;
}

span.bakeli {
    display: inline-block;
    font-size: 25px;
    font-weight: 600;
    /* background: #000; */
    /* padding: 16px; */
    /* color: #fff; */
}
div#navbarTogglerDemo03 {
    vertical-align: middle;
    display: table-cell !important;
    float: right;
}

ul.right-nav-talent {
    vertical-align: middle;
    display: table-cell;
    
}
ul.right-nav-talent li{
    transition: all 0.85s cubic-bezier(0, 1.8, 1, 1.2);
    -webkit-transition: all 0.85s cubic-bezier(0, 1.8, 1, 1.2);
    -moz-transition: all 0.85s cubic-bezier(0, 1.8, 1, 1.2);
}
ul.right-nav-talent i {
    color: #fff;
    text-align: center;
    font-size: 27px;
}
ul.right-nav-talent li:hover {
    background: #ff9800 !important;
    width: 60px;
}

a.nav-link {
    font-size: 17px;
    font-weight: 600;
    /* border: 1px solid #ececec; */
    padding: 7px;
    margin-right: 20px;
    /* border-radius: 5px; */
    border-bottom: 2px solid;
}

div#navbarTogglerDemo03 {
    margin-left: 35px;
}
