<section id="bakeliste-profile" class="row">
  <aside class="nav_sidebar">
    <div class="menu_wrapper">
        <div class="header_top">
            <div class="toggle_icon hidden-xs"><span class="lnr lnr-menu"></span></div>
            <div class="head_img_wrap">
                <img src="/assets/images/empty-avatar.png" alt="Images">
            </div>
            <p class="name">Sadio Sangharé</p>
        </div>

        <div class="main_menu">
            <ul>
                <li class=""><a (click)="onSwitchHomeSection()"><span class="fas fa-home"></span><p>Home</p></a></li>
                <li class=""><a (click)="onSwitchAboutSection()"><span class="fas fa-user"></span><p>about me</p></a></li>
                <li class=""><a (click)="onSwitchResumeSection()"><span class="fas fa-book"></span><p>resume</p></a></li>
                <li><a (click)="onSwitchServiceSection()"><span class="fas fa-cog"></span><p>services</p></a></li>
                <li><a (click)="onSwitchPortfolioSection()"><span class="fas fa-briefcase"></span><p>portfolio</p></a></li>
            </ul>

            <div class="social">
                <ul>
                    <li><a href=""><span class="fas fa-facebook"></span></a></li>
                    <li><a href=""><span class="fas fa-twitter"></span></a></li>
                    <li><a href=""><span class="fas fa-google-plus"></span></a></li>
                    <li><a href=""><span class="fas fa-linkedin"></span></a></li>
                </ul>
            </div>
        </div>
    </div>

</aside>
<div class="main_content">
  <!-- #home -->
  <section id="home" class="home single_page"  *ngIf="isHomeSectionActive">
      <!-- hero_content  -->
      <div class="hero_content">
          <div class="big_title typed cv-home">
              <h1>Hello</h1>
              <p>Je suis <span>développeur.</span></p>
          </div>
      </div><!-- hero_content -->
  </section><!-- end #home -->

  <!-- about -->
  <section id="about" class="about single_page"  *ngIf="isAboutSectionActive">
      <!-- start about_area -->
      <div class="about_area section_padding">
          <!-- container -->
          <div class="container">
              <!-- row -->
              <div class="row">
                  <div class="col-md-12">
                      <div class="section_title">
                          <h2>ABOUT ME</h2>
                          <p class="sub_title">I AM JONATHON DOE</p>
                      </div>
                  </div><!-- .col-md-12 -->
              </div><!-- row -->

              <!-- start row -->
              <div class="row">
                  <!-- col-md-4 -->
                  <div class="col-md-4 col-sm-6 col-lg-4 offset-md-0 offset-sm-3 v_middle_md">
                      <div class="about_img">
                          <img src="/assets/images/empty-avatar.png" alt="Image of someone">
                      </div>
                  </div><!-- end col-md-4 -->

                  <!-- .col-md-8 -->
                  <div class="col-md-8 col-sm-12 v_middle_md">
                      <!-- about infos -->
                      <div class="about_info">
                          <ul>
                              <li>
                                  <p>Full Name</p>
                                  <span>Jonathon Doe</span>
                              </li>
                              <li>
                                  <p>Address</p>
                                  <span>Somers Road North, Portsmouth</span>
                              </li>
                              <li>
                                  <p>Phone</p>
                                  <span>+4573-8365-9374</span>
                              </li>
                              <li>
                                  <p>Email</p>
                                  <span>johndoe@domain.com </span>
                              </li>
                          </ul>

                          <ul>
                              <li>
                                  <p>Date of Birthday</p>
                                  <span>21 January 1985</span>
                              </li>
                              <li>
                                  <p>Job</p>
                                  <span>Frelancer</span>
                              </li>
                              <li>
                                  <p>Skype</p>
                                  <span>johndoe_647</span>
                              </li>
                              <li>
                                  <p>Website</p>
                                  <span>www.johndoe.com</span>
                              </li>
                          </ul>
                      </div>

                      <!-- about_content -->
                      <div class="about_content hidden_md hidden_sm">
                          <p>I’m a Front End Develpoer and UI Designer Based in Austin. I have a Passion for Creating Clean,
                              Beautiful, Interactive, Minimalistic, Responsive and User Friendly UI, Developed by Modular,
                              Scalable and Functional Code. When, while the lovely valley teems with vapour around me, and the
                               meridian sun strikes the upper surface of the impenetrable foliage of my trees, and but a few
                               stray gleams steal. I throw myself down among the tall grass by the trickling stream; and, as I
                               lie close to the earth, a thousand unknown.
                            </p>

                          <hr>
                          <!-- <div class="ui buttons">
                            <button class="ui button">un</button>
                            <div class="or" data-text="ou"></div>
                            <button class="ui positive button">deux</button>
                          </div> -->
                          <div class="ui vertical animated red button" tabindex="0">
                            <div class="hidden content">Shop</div>
                            <div class="visible content">
                              <i class="shop icon"></i>
                            </div>
                          </div>
                          <div class="ui vertical animated orange button" tabindex="0">
                            <div class="hidden content">Shop</div>
                            <div class="visible content">
                              <i class="shop icon"></i>
                            </div>
                          </div>
                      </div><!-- end about_content -->
                  </div><!-- end .col-md-8 -->
              </div><!-- end row -->
          </div><!-- end container -->
      </div><!-- end about_area -->
  </section><!-- end about -->

  <!-- #resume -->
  <section id="resume" class="resume single_page active translateFromLeft"  *ngIf="isResumeSectionActive">
      <!-- resume_area -->
      <div class="resume_area section_padding">
          <!-- container -->
          <div class="container">
              <!-- row -->
              <div class="row">
                  <div class="col-md-12">
                      <div class="section_title">
                          <h2>my skills</h2>
                          <p class="sub_title">my special expertise</p>
                      </div>
                  </div><!-- .col-md-12 -->
              </div><!-- end .row -->

              <!-- row -->
              <div class="row">
                  <!-- col-md-6 -->
                  <div class="col-md-6">
                      <div class="resume_are_title">
                          <span class="pe-7s-study"></span><p>EDUCATION</p>
                      </div>

                      <!-- timeline -->
                      <ul class="timeline">
                          <li>
                              <div class="time_period">
                                  <p>2015 - 2016</p>
                              </div>
                              <div class="timeline_title">
                                  <h4>COMPUTER SCIENCE</h4>
                              </div>
                              <div class="about_time_period">
                                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore adipi sci
                                   excepturi dolorum. Lorem ipsum dolor sit amet, consectetur.</p>
                              </div>
                          </li>
                          <li>
                              <div class="time_period">
                                  <p>2012 - 2015</p>
                              </div>
                              <div class="timeline_title">
                                  <h4>MASTER DEGREE OF DESIGN</h4>
                              </div>
                              <div class="about_time_period">
                                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore adipi sci
                                   excepturi dolorum. Lorem ipsum dolor sit amet, consectetur.</p>
                              </div>
                          </li>
                          <li>
                              <div class="time_period">
                                  <p>2009 - 2012</p>
                              </div>
                              <div class="timeline_title">
                                  <h4>GRAPHIC DESIGN SCHOOL</h4>
                              </div>
                              <div class="about_time_period">
                                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore adipi sci
                                   excepturi dolorum. Lorem ipsum dolor sit amet, consectetur.</p>
                              </div>
                          </li>
                      </ul>
                      <!-- end timeline -->
                  </div><!-- end col-md-6 -->

                  <!-- col-md-6 -->
                  <div class="col-md-6">
                      <div class="resume_are_title">
                          <span class="pe-7s-portfolio"></span><p>work EXPERIENCE</p>
                      </div>

                      <!-- timeline -->
                      <ul class="timeline no-margin">
                          <li>
                              <div class="time_period">
                                  <p>2015 - 2016</p>
                              </div>
                              <div class="timeline_title">
                                  <h4>ui/ux designer</h4>
                              </div>
                              <div class="about_time_period">
                                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore adipi sci
                                   excepturi dolorum. Lorem ipsum dolor sit amet, consectetur.</p>
                              </div>
                          </li>
                          <li>
                              <div class="time_period">
                                  <p>2012 - 2015</p>
                              </div>
                              <div class="timeline_title">
                                  <h4>FRONT END DEVELOPER</h4>
                              </div>
                              <div class="about_time_period">
                                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore adipi sci
                                   excepturi dolorum. Lorem ipsum dolor sit amet, consectetur.</p>
                              </div>
                          </li>
                          <li>
                              <div class="time_period">
                                  <p>2009 - 2012</p>
                              </div>
                              <div class="timeline_title">
                                  <h4>WEB DEVELOPER</h4>
                              </div>
                              <div class="about_time_period">
                                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore adipi sci
                                   excepturi dolorum. Lorem ipsum dolor sit amet, consectetur.</p>
                              </div>
                          </li>
                      </ul>
                      <!-- end timeline -->
                  </div><!-- end col-md-6 -->
              </div><!-- end .row -->
          </div><!-- end .container -->
      </div><!-- end resume_area -->

      <!-- skill_area -->
      <div class="skill_area section_padding">
          <!-- start container -->
          <div class="container">
              <!-- row -->
              <div class="row">
                  <div class="col-md-12">
                      <div class="section_title">
                          <h2>my skills</h2>
                          <p class="sub_title">my special expertise</p>
                      </div>
                  </div><!-- .col-md-12 -->
              </div><!-- row -->

              <!-- row -->
              <div class="row">
                  <!-- col-md-6 -->
                  <div class="col-md-6 col-sm-6">
                      <!-- skill_wrapper -->
                      <div class="skill_wrapper">
                          <!-- single_skill -->
                          <div class="single_skill">
                              <div class="labels clearfix">
                                  <p>Web Design</p>
                                  <span data-width="89">89%</span>
                              </div>
                              <div class="progress">
                                  <div class="progress-bar" data-anim="slideInLeft" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 89%;">
                                  <span class="percent_indicator" style="display: block;"></span>
                                  <span class="sr-only">90% Complete</span>
                                  </div>
                              </div>
                          </div>

                          <!-- single_skill -->
                          <div class="single_skill">
                              <div class="labels clearfix">
                                  <p>Wordpress</p>
                                  <span data-width="80">80%</span>
                              </div>
                              <div class="progress">
                                  <div class="progress-bar" data-anim="slideInLeft" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                                  <span class="percent_indicator" style="display: block;"></span>
                                  <span class="sr-only">85% Complete</span>
                                  </div>
                              </div>
                          </div>

                          <!-- single_skill -->
                          <div class="single_skill">
                              <div class="labels clearfix">
                                  <p>app development</p>
                                  <span data-width="92">92%</span>
                              </div>
                              <div class="progress">
                                  <div class="progress-bar" data-anim="slideInLeft" role="progressbar" aria-valuenow="92" aria-valuemin="0" aria-valuemax="100" style="width: 92%;">
                                  <span class="percent_indicator" style="display: block;"></span>
                                  <span class="sr-only">85% Complete</span>
                                  </div>
                              </div>
                          </div>
                      </div><!-- end skill_wrapper -->
                  </div><!-- end .col-md-6 -->

                  <!-- col-md-6 -->
                  <div class="col-md-6 col-sm-6">
                      <!-- skill_wrapper -->
                      <div class="skill_wrapper">
                          <!-- single_skill -->
                          <div class="single_skill">
                              <div class="labels clearfix">
                                  <p>php &amp; mysql</p>
                                  <span data-width="75">75%</span>
                              </div>
                              <div class="progress">
                                  <div class="progress-bar" data-anim="slideInLeft" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
                                  <span class="percent_indicator" style="display: block;"></span>
                                  <span class="sr-only">90% Complete</span>
                                  </div>
                              </div>
                          </div>

                          <!-- single_skill -->
                          <div class="single_skill">
                              <div class="labels clearfix">
                                  <p>JOOMLA</p>
                                  <span data-width="95">95%</span>
                              </div>
                              <div class="progress">
                                  <div class="progress-bar" data-anim="slideInLeft" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 95%;">
                                  <span class="percent_indicator" style="display: block;"></span>
                                  <span class="sr-only">85% Complete</span>
                                  </div>
                              </div>
                          </div>

                          <!-- single_skill -->
                          <div class="single_skill">
                              <div class="labels clearfix">
                                  <p>html &amp; css</p>
                                  <span data-width="98">98%</span>
                              </div>
                              <div class="progress">
                                  <div class="progress-bar" data-anim="slideInLeft" role="progressbar" aria-valuenow="92" aria-valuemin="0" aria-valuemax="100" style="width: 98%;">
                                  <span class="percent_indicator" style="display: block;"></span>
                                  <span class="sr-only">85% Complete</span>
                                  </div>
                              </div>
                          </div>
                      </div><!-- end skill_wrapper -->
                  </div><!-- end .col-md-6 -->
              </div><!-- end row -->
          </div><!-- end .container -->
      </div><!-- end skill_area -->
  </section><!-- end #resume -->

  <!-- #service  -->
  <section id="service" class="service single_page"  *ngIf="isServiceSectionActive">
      <!-- services_area -->
      <div class="service_area section_padding">
          <!-- container -->
          <div class="container">
              <!-- row -->
              <div class="row">
                  <div class="col-md-12">
                      <div class="section_title">
                          <h2>avis du coach</h2>
                          <p class="sub_title">qui mieux que lui</p>
                      </div>
                  </div><!-- .col-md-12 -->
              </div><!-- end .row -->


              <!-- row -->
              <div class="row">
                  <!-- single_service -->
                  <div class="col-md-12 col-sm-12 col-lg-12">
                      <div class="single_service">
                          <div class="service_icon"><span class="pe-7s-diamond"></span></div>
                          <div class="service_content">
                              <h5 class="service_title">COACH PRINCE COUMBA NDOFENE DIOUF</h5>
                              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus corrupti commodi, ratione labore deserunt iusto, dignissimos repudiandae dicta eum accusamus velit. Quas exercitationem officia a sapiente sint error corporis sequi.</p>
                              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam dolorum maxime ea porro totam suscipit atque, delectus blanditiis quasi ab temporibus, iure ex, sequi quas inventore beatae unde rerum? Obcaecati.</p>
                          </div>
                      </div>
                  </div>

                  
              </div><!-- .row -->
          </div><!-- end .container -->
      </div><!-- end services_area -->
  </section><!-- end #service_area  -->

  <!-- #portfolio area -->
  <section id="portfolio" class="portfolio section_padding single_page"  *ngIf="isPortfolioSectionActive">
      <!-- container -->
      <div class="container">
          <!-- row -->
          <div class="row">
              <div class="col-md-12">
                  <div class="section_title">
                      <h2>portfolio</h2>
                      <p class="sub_title">my latest work</p>
                  </div>
              </div>
          </div><!-- end .row -->

          <!-- row -->
          <div class="row">
              <!-- .col-md-12 -->
              <div class="col-md-12">
                  <!-- filter_area -->
                  <div class="filter_area">
                      <ul id="sorting_control">
                          <li class="active" data-uk-filter="">All works</li>
                          <li data-uk-filter="web">web design</li>
                          <li data-uk-filter="ux">UI/UX design</li>
                          <li data-uk-filter="wordpress"> wordpress</li>
                          <li data-uk-filter="branding"> branding</li>
                      </ul>
                  </div>
              </div><!-- .col-md-12 -->
          </div><!-- .row  -->

          <!-- row -->
          <div class="row" data-uk-grid="{controls: '#sorting_control'}" style="position: relative; height: 1475px;">
              <!-- single_item -->
              <div class="col-md-4  col-xs-12 col-sm-6 md-half-width" data-uk-filter="wordpress" data-grid-prepared="true" style="position: absolute; box-sizing: border-box; top: 0px; opacity: 1; left: 0px;">
                  <div class="single_portfolio_item">
                      <figure>
                          <div class="portfolio_img">
                              <img src="images/portfolio1.png" alt="Portfolio">
                          </div>

                          <figcaption>
                              <p>Web development project</p>
                              <div class="classless">
                                  <div class="icon"><a href="single_portfolio.html"><span class="fa fa-link"></span></a></div>
                                  <a class="icon venobox vbox-item" href="images/portfolio1.png"><span class="fa fa-search"></span></a>
                              </div>
                          </figcaption>
                      </figure>
                  </div>
              </div><!-- end single_item -->

              <!-- single_item -->
              <div class="col-md-4  col-xs-12 col-sm-6 md-half-width" data-uk-filter="ux" data-grid-prepared="true" style="position: absolute; box-sizing: border-box; top: 0px; opacity: 1; left: 295px;">
                  <div class="single_portfolio_item">
                      <figure>
                          <div class="portfolio_img">
                              <img src="images/portfolio2.png" alt="Portfolio">
                          </div>

                          <figcaption>
                              <p>Web development project</p>
                              <div class="classless">
                                  <div class="icon"><a href="single_portfolio.html"><span class="fa fa-link"></span></a></div>
                                  <a class="icon venobox vbox-item" href="images/portfolio2.png"><span class="fa fa-search"></span></a>
                              </div>
                          </figcaption>
                      </figure>
                  </div>
              </div><!-- end single_item -->

              <!-- single_item -->
              <div class="col-md-4  col-xs-12 col-sm-6 md-half-width" data-uk-filter="web" data-grid-prepared="true" style="position: absolute; box-sizing: border-box; top: 295px; opacity: 1; left: 0px;">
                  <div class="single_portfolio_item">
                      <figure>
                          <div class="portfolio_img">
                              <img src="images/portfolio3.png" alt="Portfolio">
                          </div>

                          <figcaption>
                              <p>Web development project</p>
                              <div class="classless">
                                  <div class="icon"><a href="single_portfolio.html"><span class="fa fa-link"></span></a></div>
                                  <a class="icon venobox vbox-item" href="images/portfolio3.png"><span class="fa fa-search"></span></a>
                              </div>
                          </figcaption>
                      </figure>
                  </div>
              </div><!-- end single_item -->

              <!-- single_item -->
              <div class="col-md-4  col-xs-12 col-sm-6 md-half-width" data-uk-filter="ux" data-grid-prepared="true" style="position: absolute; box-sizing: border-box; top: 295px; opacity: 1; left: 295px;">
                  <div class="single_portfolio_item">
                      <figure>
                          <div class="portfolio_img">
                              <img src="images/portfolio4.png" alt="Portfolio">
                          </div>

                          <figcaption>
                              <p>Web development project</p>
                              <div class="classless">
                                  <div class="icon"><a href="single_portfolio.html"><span class="fa fa-link"></span></a></div>
                                  <a class="icon venobox vbox-item" href="images/portfolio4.png"><span class="fa fa-search"></span></a>
                              </div>
                          </figcaption>
                      </figure>
                  </div>
              </div><!-- end single_item -->

              <!-- single_item -->
              <div class="col-md-4  col-xs-12 col-sm-6 md-half-width" data-uk-filter="web" data-grid-prepared="true" style="position: absolute; box-sizing: border-box; top: 590px; opacity: 1; left: 0px;">
                  <div class="single_portfolio_item">
                      <figure>
                          <div class="portfolio_img">
                              <img src="images/portfolio5.png" alt="Portfolio">
                          </div>

                          <figcaption>
                              <p>Web development project</p>
                              <div class="classless">
                                  <div class="icon"><a href="single_portfolio.html"><span class="fa fa-link"></span></a></div>
                                  <a class="icon venobox vbox-item" href="images/portfolio5.png"><span class="fa fa-search"></span></a>
                              </div>
                          </figcaption>
                      </figure>
                  </div>
              </div><!-- end single_item -->

              <!-- single_item -->
              <div class="col-md-4  col-xs-12 col-sm-6 md-half-width" data-uk-filter="wordpress" data-grid-prepared="true" style="position: absolute; box-sizing: border-box; top: 590px; opacity: 1; left: 295px;">
                  <div class="single_portfolio_item">
                      <figure>
                          <div class="portfolio_img">
                              <img src="images/portfolio2.png" alt="Portfolio">
                          </div>

                          <figcaption>
                              <p>Web development project</p>
                              <div class="classless">
                                  <div class="icon"><a href="single_portfolio.html"><span class="fa fa-link"></span></a></div>
                                  <a class="icon venobox vbox-item" href="images/portfolio5.png"><span class="fa fa-search"></span></a>
                              </div>
                          </figcaption>
                      </figure>
                  </div>
              </div><!-- end single_item -->

              <!-- single_item -->
              <div class="col-md-4  col-xs-12 col-sm-6 md-half-width" data-uk-filter="branding" data-grid-prepared="true" style="position: absolute; box-sizing: border-box; top: 885px; opacity: 1; left: 0px;">
                  <div class="single_portfolio_item">
                      <figure>
                          <div class="portfolio_img">
                              <img src="images/portfolio3.png" alt="Portfolio">
                          </div>

                          <figcaption>
                              <p>Web development project</p>
                              <div class="classless">
                                  <div class="icon"><a href="single_portfolio.html"><span class="fa fa-link"></span></a></div>
                                  <a class="icon venobox vbox-item" href="images/portfolio5.png"><span class="fa fa-search"></span></a>
                              </div>
                          </figcaption>
                      </figure>
                  </div>
              </div><!-- end single_item -->

              <!-- single_item -->
              <div class="col-md-4  col-xs-12 col-sm-6 md-half-width" data-uk-filter="wordpress" data-grid-prepared="true" style="position: absolute; box-sizing: border-box; top: 885px; opacity: 1; left: 295px;">
                  <div class="single_portfolio_item">
                      <figure>
                          <div class="portfolio_img">
                              <img src="images/portfolio2.png" alt="Portfolio">
                          </div>

                          <figcaption>
                              <p>Web development project</p>
                              <div class="classless">
                                  <div class="icon"><a href="single_portfolio.html"><span class="fa fa-link"></span></a></div>
                                  <a class="icon venobox vbox-item" href="images/portfolio2.png"><span class="fa fa-search"></span></a>
                              </div>
                          </figcaption>
                      </figure>
                  </div>
              </div><!-- end single_item -->

              <!-- single_item -->
              <div class="col-md-4 col-xs-12 col-sm-6  md-half-width" data-uk-filter="branding" data-grid-prepared="true" style="position: absolute; box-sizing: border-box; top: 1180px; opacity: 1; left: 0px;">
                  <div class="single_portfolio_item">
                      <figure>
                          <div class="portfolio_img">
                              <img src="images/portfolio1.png" alt="Portfolio">
                          </div>

                          <figcaption>
                              <p>Web development project</p>
                              <div class="classless">
                                  <div class="icon"><a href="single_portfolio.html"><span class="fa fa-link"></span></a></div>
                                  <a class="icon venobox vbox-item" href="images/portfolio1.png"><span class="fa fa-search"></span></a>
                              </div>
                          </figcaption>
                      </figure>
                  </div>
              </div><!-- end single_item -->
          </div><!-- end row -->
      </div><!-- end container -->
  </section>

</div>
</section>