<section id="bakeliste-profile" class="row">
  <aside class="nav_sidebar">
    <div class="menu_wrapper">
        <div class="header_top">
            <div class="row return-container">
                <div class="col-md-12 return">
                    <a routerLink="/" class="btn btn-default teal button ui">Retour en arrière</a>
                </div>
            </div>
            <div class="toggle_icon hidden-xs"><span class="lnr lnr-menu"></span></div>
            <div class="head_img_wrap">
                <img src="/assets/images/empty-avatar.png" alt="Images">
            </div>
            <p class="name">Sadio Sangharé</p>
        </div>

        <div class="main_menu">
            <ul>
                <li class=""><a (click)="onSwitchHomeSection()"><span class="fas fa-home"></span><p>Home</p></a></li>
                <li class=""><a (click)="onSwitchAboutSection()"><span class="fas fa-user"></span><p>a propos</p></a></li>
                <li class=""><a (click)="onSwitchResumeSection()"><span class="fas fa-book"></span><p>mon cv</p></a></li>
                <li><a (click)="onSwitchServiceSection()"><span class="fas fa-comment-dots"></span><p>avis</p></a></li>
                <li><a (click)="onSwitchPortfolioSection()"><span class="fas fa-briefcase"></span><p>portfolio</p></a></li>
            </ul>

            <div class="social">
                <button class="ui circular facebook icon button">
                    <i class="facebook icon"></i>
                  </button>
                  <button class="ui circular linkedin icon button">
                    <i class="linkedin icon"></i>
                  </button>
            </div>
        </div>
    </div>

</aside>
<div class="main_content">
  <!-- #home -->
  <section id="home" class="home single_page"  *ngIf="isHomeSectionActive">
      <!-- hero_content  -->
      <div class="hero_content">
          <div class="big_title typed cv-home">
              <h1>Hello</h1>
              <p>Je suis <span>développeur.</span></p>
          </div>
      </div><!-- hero_content -->
  </section><!-- end #home -->

  <!-- about -->
  <section id="about" class="about single_page"  *ngIf="isAboutSectionActive">
      <!-- start about_area -->
      <div class="about_area section_padding">
          <!-- container -->
          <div class="container">
              <!-- row -->
              <div class="row">
                  <div class="col-md-12">
                      <div class="section_title">
                          <h2>A PROPOS DE MOI</h2>
                          <p class="sub_title">JE SUIS SADIO SANGHARE</p>
                      </div>
                  </div><!-- .col-md-12 -->
              </div><!-- row -->

              <!-- start row -->
              <div class="row">
                  <!-- col-md-4 -->
                  <div class="col-md-4 col-sm-6 col-lg-4 offset-md-0 offset-sm-3 v_middle_md">
                      <div class="about_img">
                          <img src="/assets/images/empty-avatar.png" alt="Image of someone">
                      </div>
                  </div><!-- end col-md-4 -->

                  <!-- .col-md-8 -->
                  <div class="col-md-8 col-sm-12 v_middle_md">
                      <!-- about infos -->
                      <div class="about_info">
                          <ul>
                              <li>
                                  <p>Prénom et Nom</p>
                                  <span>Sadio Sangharé</span>
                              </li>
                              <li>
                                  <p>Adresse</p>
                                  <span>Ouest Foire - Dakar</span>
                              </li>
                              <li>
                                  <p>Téléhone</p>
                                  <span>+221 78 015 81 71</span>
                              </li>
                              <li>
                                  <p>Email</p>
                                  <span>sadiosan23@gmail.com </span>
                              </li>
                          </ul>

                          <ul>
                              <li>
                                  <p>Date de naissance</p>
                                  <span>23 Novembre 1982</span>
                              </li>
                              <li>
                                  <p>Poste recherché</p>
                                  <span>Développeur web/mobile</span>
                              </li>
                              <li>
                                  <p>Nombre de mois d'expérience</p>
                                  <span>15</span>
                              </li>
                              <li>
                                  <p>Langues : </p>
                                  <span>Français, Anglais, Espagnol</span>
                              </li>
                          </ul>
                      </div>

                      <!-- about_content -->
                      <div class="about_content">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, repellendus ipsum, distinctio voluptatum mollitia modi quasi velit reiciendis similique obcaecati quod quia cupiditate. Quis libero nobis placeat assumenda beatae quasi!
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo ex id mollitia laboriosam quod modi quaerat? Pariatur doloribus iusto corrupti, qui voluptatibus aperiam quas, esse dolore molestias hic labore iure?
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit numquam esse mollitia quae at ad, recusandae reprehenderit, totam assumenda nemo doloremque pariatur dignissimos veritatis beatae, aliquid nihil ipsa eveniet ullam!
                        </p>

                          <hr>
                          <!-- <div class="ui buttons">
                            <button class="ui button">un</button>
                            <div class="or" data-text="ou"></div>
                            <button class="ui positive button">deux</button>
                          </div> -->
                          <div class="row" id="actions-btn">
                              <div class="col-md-6 interested">
                                    <div class="ui vertical animated teal button" tabindex="0">
                                        <div class="hidden content">Je suis intéressé par ce profil</div>
                                        <div class="visible content">
                                            <i class="fas fa-thumbs-up"></i>
                                        </div>
                                    </div>
                              </div>
                              <div class="col-md-6 download">
                                    <div class="ui vertical animated orange button" tabindex="0">
                                        <div class="hidden content">Télécharger CV</div>
                                        <div class="visible content">
                                            <i class="fas fa-download"></i>
                                        </div>
                                    </div>
                              </div>
                          </div>
                          
                          
                      </div><!-- end about_content -->
                  </div><!-- end .col-md-8 -->
              </div><!-- end row -->
          </div><!-- end container -->
      </div><!-- end about_area -->
  </section><!-- end about -->

  <!-- #resume -->
  <section id="resume" class="resume single_page active translateFromLeft"  *ngIf="isResumeSectionActive">
      <!-- resume_area -->
      <div class="resume_area section_padding">
          <!-- container -->
          <div class="container">
              <!-- row -->
              <div class="row">
                  <div class="col-md-12">
                      <div class="section_title">
                          <h2>mon parcours professionnel</h2>
                          <p class="sub_title">spécialiste de mon domaine par la pratique</p>
                      </div>
                  </div><!-- .col-md-12 -->
              </div><!-- end .row -->

              <!-- row -->
              <div class="row">
                  <!-- col-md-6 -->
                  <div class="col-md-6">
                      <div class="resume_are_title">
                          <span class="pe-7s-study"></span><p>FORMATION</p>
                      </div>

                      <!-- timeline -->
                      <ul class="timeline">
                          <li>
                              <div class="time_period">
                                  <p>2015 - 2016</p>
                              </div>
                              <div class="timeline_title">
                                  <h4>COMPUTER SCIENCE</h4>
                              </div>
                              <div class="about_time_period">
                                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore adipi sci
                                   excepturi dolorum. Lorem ipsum dolor sit amet, consectetur.</p>
                              </div>
                          </li>
                          <li>
                              <div class="time_period">
                                  <p>2012 - 2015</p>
                              </div>
                              <div class="timeline_title">
                                  <h4>MASTER DEGREE OF DESIGN</h4>
                              </div>
                              <div class="about_time_period">
                                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore adipi sci
                                   excepturi dolorum. Lorem ipsum dolor sit amet, consectetur.</p>
                              </div>
                          </li>
                          <li>
                              <div class="time_period">
                                  <p>2009 - 2012</p>
                              </div>
                              <div class="timeline_title">
                                  <h4>GRAPHIC DESIGN SCHOOL</h4>
                              </div>
                              <div class="about_time_period">
                                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore adipi sci
                                   excepturi dolorum. Lorem ipsum dolor sit amet, consectetur.</p>
                              </div>
                          </li>
                      </ul>
                      <!-- end timeline -->
                  </div><!-- end col-md-6 -->

                  <!-- col-md-6 -->
                  <div class="col-md-6">
                      <div class="resume_are_title">
                          <span class="pe-7s-portfolio"></span><p>EXPERIENCE</p>
                      </div>

                      <!-- timeline -->
                      <ul class="timeline no-margin">
                          <li>
                              <div class="time_period">
                                  <p>2015 - 2016</p>
                              </div>
                              <div class="timeline_title">
                                  <h4>ui/ux designer</h4>
                              </div>
                              <div class="about_time_period">
                                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore adipi sci
                                   excepturi dolorum. Lorem ipsum dolor sit amet, consectetur.</p>
                              </div>
                          </li>
                          <li>
                              <div class="time_period">
                                  <p>2012 - 2015</p>
                              </div>
                              <div class="timeline_title">
                                  <h4>FRONT END DEVELOPER</h4>
                              </div>
                              <div class="about_time_period">
                                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore adipi sci
                                   excepturi dolorum. Lorem ipsum dolor sit amet, consectetur.</p>
                              </div>
                          </li>
                          <li>
                              <div class="time_period">
                                  <p>2009 - 2012</p>
                              </div>
                              <div class="timeline_title">
                                  <h4>WEB DEVELOPER</h4>
                              </div>
                              <div class="about_time_period">
                                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore adipi sci
                                   excepturi dolorum. Lorem ipsum dolor sit amet, consectetur.</p>
                              </div>
                          </li>
                      </ul>
                      <!-- end timeline -->
                  </div><!-- end col-md-6 -->
              </div><!-- end .row -->
          </div><!-- end .container -->
      </div><!-- end resume_area -->

      <!-- skill_area -->
      <div class="skill_area section_padding">
          <!-- start container -->
          <div class="container">
              <!-- row -->
              <div class="row">
                  <div class="col-md-12">
                      <div class="section_title">
                          <h2>mes compétences</h2>
                          <p class="sub_title">apprendre n'a pas de prix</p>
                      </div>
                  </div><!-- .col-md-12 -->
              </div><!-- row -->

              <!-- row -->
              <div class="row">
                  <!-- col-md-6 -->
                  <div class="col-md-6 col-sm-6">
                      <!-- skill_wrapper -->
                      <div class="skill_wrapper">
                          <!-- single_skill -->
                          <div class="single_skill">
                              <div class="labels clearfix">
                                  <p>Web Design</p>
                                  <span data-width="89">89%</span>
                              </div>
                              <div class="progress">
                                  <div class="progress-bar" data-anim="slideInLeft" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 89%;">
                                  <span class="percent_indicator" style="display: block;"></span>
                                  <span class="sr-only">90% Complete</span>
                                  </div>
                              </div>
                          </div>

                          <!-- single_skill -->
                          <div class="single_skill">
                              <div class="labels clearfix">
                                  <p>Wordpress</p>
                                  <span data-width="80">80%</span>
                              </div>
                              <div class="progress">
                                  <div class="progress-bar" data-anim="slideInLeft" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                                  <span class="percent_indicator" style="display: block;"></span>
                                  <span class="sr-only">85% Complete</span>
                                  </div>
                              </div>
                          </div>

                          <!-- single_skill -->
                          <div class="single_skill">
                              <div class="labels clearfix">
                                  <p>app development</p>
                                  <span data-width="92">92%</span>
                              </div>
                              <div class="progress">
                                  <div class="progress-bar" data-anim="slideInLeft" role="progressbar" aria-valuenow="92" aria-valuemin="0" aria-valuemax="100" style="width: 92%;">
                                  <span class="percent_indicator" style="display: block;"></span>
                                  <span class="sr-only">85% Complete</span>
                                  </div>
                              </div>
                          </div>
                      </div><!-- end skill_wrapper -->
                  </div><!-- end .col-md-6 -->

                  <!-- col-md-6 -->
                  <div class="col-md-6 col-sm-6">
                      <!-- skill_wrapper -->
                      <div class="skill_wrapper">
                          <!-- single_skill -->
                          <div class="single_skill">
                              <div class="labels clearfix">
                                  <p>php &amp; mysql</p>
                                  <span data-width="75">75%</span>
                              </div>
                              <div class="progress">
                                  <div class="progress-bar" data-anim="slideInLeft" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
                                  <span class="percent_indicator" style="display: block;"></span>
                                  <span class="sr-only">90% Complete</span>
                                  </div>
                              </div>
                          </div>

                          <!-- single_skill -->
                          <div class="single_skill">
                              <div class="labels clearfix">
                                  <p>JOOMLA</p>
                                  <span data-width="95">95%</span>
                              </div>
                              <div class="progress">
                                  <div class="progress-bar" data-anim="slideInLeft" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 95%;">
                                  <span class="percent_indicator" style="display: block;"></span>
                                  <span class="sr-only">85% Complete</span>
                                  </div>
                              </div>
                          </div>

                          <!-- single_skill -->
                          <div class="single_skill">
                              <div class="labels clearfix">
                                  <p>html &amp; css</p>
                                  <span data-width="98">98%</span>
                              </div>
                              <div class="progress">
                                  <div class="progress-bar" data-anim="slideInLeft" role="progressbar" aria-valuenow="92" aria-valuemin="0" aria-valuemax="100" style="width: 98%;">
                                  <span class="percent_indicator" style="display: block;"></span>
                                  <span class="sr-only">85% Complete</span>
                                  </div>
                              </div>
                          </div>
                      </div><!-- end skill_wrapper -->
                  </div><!-- end .col-md-6 -->
              </div><!-- end row -->
          </div><!-- end .container -->
      </div><!-- end skill_area -->

      <!-- extra_pro_area -->
      <div class="service_area section_padding" id="extra-pro">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-12">
                    <div class="section_title">
                        <h2>activités extra-professionnel</h2>
                        <p class="sub_title">l'engagement n'a pas de prix</p>
                    </div>
                </div><!-- .col-md-12 -->
            </div><!-- end .row -->


            <!-- row -->
            <div class="row extra-pro-row">
                <!-- single_service -->
                <div class="col-md-6 col-sm-12 col-lg-6">
                    <div class="single_service">
                        <div class="service_icon"><span class="pe-7s-diamond"></span></div>
                        <div class="service_content">
                            <h5 class="service_title">SAPEUR POMPIER VOLONTAIRE</h5>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente beatae provident vero eligendi, modi quae dicta, tenetur perferendis, veritatis tempore quasi explicabo repudiandae! Cum unde hic eligendi eaque ea similique!</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-lg-6">
                    <div class="single_service">
                        <div class="service_icon"><span class="pe-7s-diamond"></span></div>
                        <div class="service_content">
                            <h5 class="service_title">RESPONSABLE COMMUNICATION NJÀCCAAR</h5>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem ipsam, voluptatibus esse necessitatibus quisquam mollitia autem a, illum, nemo omnis aliquid eveniet veritatis? Aperiam, tempore. Nostrum impedit corporis deleniti error?</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-lg-6">
                    <div class="single_service">
                        <div class="service_icon"><span class="pe-7s-diamond"></span></div>
                        <div class="service_content">
                            <h5 class="service_title">PRESIDENT DE L'ASRT</h5>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis expedita voluptates exercitationem aut molestias, quae minima recusandae facilis nihil excepturi dolorum fuga voluptatibus quam perferendis nam illum incidunt velit laboriosam!</p>
                        </div>
                    </div>
                </div>
                
            </div><!-- .row -->
        </div><!-- end .container -->
    </div><!-- end services_area -->
  </section><!-- end #resume -->

  <!-- #service  -->
  <section id="service" class="service single_page"  *ngIf="isServiceSectionActive">
      <!-- services_area -->
      <div class="service_area section_padding">
          <!-- container -->
          <div class="container">
              <!-- row -->
              <div class="row">
                  <div class="col-md-12">
                      <div class="section_title">
                          <h2>avis du coach</h2>
                          <p class="sub_title">qui mieux que lui</p>
                      </div>
                  </div><!-- .col-md-12 -->
              </div><!-- end .row -->


              <!-- row -->
              <div class="row">
                  <!-- single_service -->
                  <div class="col-md-12 col-sm-12 col-lg-12">
                      <div class="single_service">
                          <div class="service_icon"><span class="pe-7s-diamond"></span></div>
                          <div class="service_content">
                              <h5 class="service_title">COACH PRINCE COUMBA NDOFENE DIOUF</h5>
                              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus corrupti commodi, ratione labore deserunt iusto, dignissimos repudiandae dicta eum accusamus velit. Quas exercitationem officia a sapiente sint error corporis sequi.</p>
                              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam dolorum maxime ea porro totam suscipit atque, delectus blanditiis quasi ab temporibus, iure ex, sequi quas inventore beatae unde rerum? Obcaecati.</p>
                          </div>
                      </div>
                  </div>

                  
              </div><!-- .row -->
          </div><!-- end .container -->
      </div><!-- end services_area -->
  </section><!-- end #service_area  -->

  <!-- #portfolio area -->
  <section id="portfolio" class="portfolio section_padding single_page"  *ngIf="isPortfolioSectionActive">
      <!-- container -->
      <div class="container">
          <!-- row -->
          <div class="row">
              <div class="col-md-12">
                  <div class="section_title">
                      <h2>portfolio</h2>
                      <p class="sub_title">mes réalisations</p>
                  </div>
              </div>
          </div><!-- end .row -->
          <div class="row">
                <div class="col-md-6 single-img">
                    <img src="/assets/images/portfol1.png" alt="Portfolio" class="img-responsive single_item">
                    <div class="img-title">
                        Site de réservation de bateaux
                    </div>
                </div>
                <div class="col-md-6 single-img">
                    <img src="/assets/images/portfol2.png" alt="Portfolio" class="img-responsive single_item">
                    <div class="img-title">
                        Site de réservation de billets d'avion
                    </div>
                </div>
          </div>
      </div><!-- end container -->
  </section>

</div>
</section>