<section id="all-profil">
<h1>Tous les profils disponibles</h1>
  <div class="profil1">
      <form>
        <div class="ui small image">
          <img src="https://image.flaticon.com/icons/svg/1602/1602968.svg">
        </div>
        <input type="text" value="Maimouna Diallo">
        <input type="text" value="Titre: Développeur">
      </form>
  </div>
  <div class="profil1">
      <form>
        <div class="ui small image">
          <img src="https://image.flaticon.com/icons/svg/1602/1602968.svg">
        </div>
        <input type="text" value="Maimouna Diallo">
        <input type="text" value="Titre: Développeur">
      </form>
  </div>
</section>
