<section id="all-profil">
  <hr>
    <h1 class="text-center">
        <span class="">Tous les</span><span class=""> bakelistes</span>
    </h1>
    <hr>
  <div class="container ui segment bakeliste-dev">
    <div class="row">
      <div class="col-md-2 img-container">
        <img class="ui medium image" src="https://image.flaticon.com/icons/svg/1602/1602958.svg">
      </div>
      <div class="col-md-8">
        <p class="font-weight-bold pseudonyme">Bakeliste AigleNoir</p>
        <p class="font-weight-normal titre-bakeliste">Développeur Python/ Django</p>
        <p class="font-weight-lighter skills">
          <a class="ui teal tag label">PHP</a> &nbsp;
          <a class="ui teal tag label">Javascript</a> &nbsp;
          <a class="ui teal tag label">Python</a> &nbsp;
          <a class="ui teal tag label">Laravel</a> &nbsp;
        </p>
      </div>
      <div class="col-md-2 align-self-center show-bakeliste-btn-container">
          <a routerLink="/detail-bakeliste" class="redirect-link">
            <div class="d-flex justify-content-center"><i class="fas fa-eye"></i></div>
          </a>
      </div>
    </div>
  </div>

  <div class="container ui segment bakeliste-designer">
    <div class="row">
      <div class="col-md-2 img-container">
        <img class="ui medium image" src="https://image.flaticon.com/icons/svg/1602/1602958.svg">
      </div>
      <div class="col-md-8">
        <p class="font-weight-bold pseudonyme">Bakeliste AigleVert</p>
        <p class="font-weight-normal titre-bakeliste">Designer</p>
        <p class="font-weight-lighter skills">
          <a class="ui teal tag label">Photoshop</a> &nbsp;
          <a class="ui teal tag label">Illustrator</a> &nbsp;
          <a class="ui teal tag label">Inskape</a> &nbsp;
          <a class="ui teal tag label">Bootstrap Studio</a> &nbsp;
        </p>
      </div>
      <div class="col-md-2 align-self-center show-bakeliste-btn-container">
          <a routerLink="/detail-bakeliste" class="redirect-link">
            <div class="d-flex justify-content-center"><i class="fas fa-eye"></i></div>
          </a>
      </div>
    </div>
  </div>

  <div class="container ui segment bakeliste-business">
    <div class="row">
      <div class="col-md-2 img-container">
        <img class="ui medium image" src="https://image.flaticon.com/icons/svg/1602/1602958.svg">
      </div>
      <div class="col-md-8">
        <p class="font-weight-bold pseudonyme">Bakeliste AigleRose</p>
        <p class="font-weight-normal titre-bakeliste">Product Manager</p>
        <p class="font-weight-lighter skills">
          <a class="ui teal tag label">Gestion de project</a> &nbsp;
          <a class="ui teal tag label">Customer Developement</a> &nbsp;
          <a class="ui teal tag label">Scrum</a> &nbsp;
        </p>
      </div>
      <div class="col-md-2 align-self-center show-bakeliste-btn-container">
          <a routerLink="/detail-bakeliste" class="redirect-link">
            <div class="d-flex justify-content-center"><i class="fas fa-eye"></i></div>
          </a>
      </div>
    </div>
  </div>

  <div class="container ui segment bakeliste-marketeur">
    <div class="row">
      <div class="col-md-2 img-container">
        <img class="ui medium image" src="https://image.flaticon.com/icons/svg/1602/1602958.svg">
      </div>
      <div class="col-md-8">
        <p class="font-weight-bold pseudonyme">Bakeliste AigleBleu</p>
        <p class="font-weight-normal titre-bakeliste">Digital Marketer</p>
        <p class="font-weight-lighter skills">
          <a class="ui teal tag label">SEO</a> &nbsp;
          <a class="ui teal tag label">Wordpress</a> &nbsp;
          <a class="ui teal tag label">Community Manager</a> &nbsp;
          <a class="ui teal tag label">Content Manager</a> &nbsp;
        </p>
      </div>
      <div class="col-md-2 align-self-center show-bakeliste-btn-container">
          <a routerLink="/detail-bakeliste" class="redirect-link">
            <div class="d-flex justify-content-center"><i class="fas fa-eye"></i></div>
          </a>
      </div>
    </div>
  </div>
</section>
<hr>
