<section id="all-profil">
  <hr>
    <h1 class="text-center">
        <span class="">Tous les</span><span class=""> bakelistes</span>
    </h1>
    <hr>
  <div class="container ui segment">
    <div class="row">
      <div class="col-2 ">
        <img class="ui medium image" src="https://image.flaticon.com/icons/svg/1602/1602958.svg">
      </div>
      <div class="col-8">
        <p class="font-weight-bold">Mariama Faye</p>
        <p class="font-weight-normal">Développeur Python/ Django</p>
        <p class="font-weight-lighter">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore aut natus, illum sit dicta distinctio porro a hic? Sit, amet error quos eum veniam dignissimos. Atque temporibus neque iure sequi.</p>
      </div>
      <div class="col-2 align-self-center ">
          <a routerLink="/profil-bakeliste" class="redirect-link">
            <div class="d-flex justify-content-center"><i class="fas fa-eye"></i></div>
          </a>
      </div>
    </div>
  </div>
  <div class="container ui segment">
      <div class="row">
        <div class="col-2 ">
          <img class="ui medium image" src="https://image.flaticon.com/icons/svg/1602/1602958.svg">
        </div>
        <div class="col-8">
          <p class="font-weight-bold">Binetou Rassoul Samb</p>
          <p class="font-weight-normal">Marketeur</p>
          <p class="font-weight-lighter">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore aut natus, illum sit dicta distinctio porro a hic? Sit, amet error quos eum veniam dignissimos. Atque temporibus neque iure sequi.</p>
        </div>
        <div class="col-2 align-self-center ">
            <a routerLink="/profil-bakeliste" class="redirect-link">
              <div class="d-flex justify-content-center"><i class="fas fa-eye"></i></div>
            </a>
        </div>
      </div>
  </div>
  <div class="container ui segment">
      <div class="row">
        <div class="col-2 ">
          <img class="ui medium image" src="https://image.flaticon.com/icons/svg/1602/1602958.svg">
        </div>
        <div class="col-8">
          <p class="font-weight-bold">Khadija Diallo</p>
          <p class="font-weight-normal">Business</p>
          <p class="font-weight-lighter">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore aut natus, illum sit dicta distinctio porro a hic? Sit, amet error quos eum veniam dignissimos. Atque temporibus neque iure sequi.</p>
        </div>
        <div class="col-2 align-self-center ">
            <a routerLink="/profil-bakeliste" class="redirect-link">
              <div class="d-flex justify-content-center"><i class="fas fa-eye"></i></div>
            </a>
        </div>
      </div>
  </div>
  <div class="container ui segment">
      <div class="row">
        <div class="col-2 ">
          <img class="ui medium image" src="https://image.flaticon.com/icons/svg/1602/1602958.svg">
        </div>
        <div class="col-8">
          <p class="font-weight-bold">Paul Nzamba-Nzamba</p>
          <p class="font-weight-normal">Développeur PHP</p>
          <p class="font-weight-lighter">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore aut natus, illum sit dicta distinctio porro a hic? Sit, amet error quos eum veniam dignissimos. Atque temporibus neque iure sequi.</p>
        </div>
        <div class="col-2 align-self-center ">
            <a routerLink="/profil-bakeliste" class="redirect-link">
              <div class="d-flex justify-content-center"><i class="fas fa-eye"></i></div>
            </a>
        </div>
      </div>
  </div>
  <div class="container ui segment">
      <div class="row">
        <div class="col-2 ">
          <img class="ui medium image" src="https://image.flaticon.com/icons/svg/1602/1602958.svg">
        </div>
        <div class="col-8">
          <p class="font-weight-bold">Bara Diop</p>
          <p class="font-weight-normal">Marketeur</p>
          <p class="font-weight-lighter">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore aut natus, illum sit dicta distinctio porro a hic? Sit, amet error quos eum veniam dignissimos. Atque temporibus neque iure sequi.</p>
        </div>
        <div class="col-2 align-self-center ">
            <a routerLink="/profil-bakeliste" class="redirect-link">
              <div class="d-flex justify-content-center"><i class="fas fa-eye"></i></div>
            </a>
        </div>
      </div>
  </div>
  <div class="container ui segment">
      <div class="row">
        <div class="col-2 ">
          <img class="ui medium image" src="https://image.flaticon.com/icons/svg/1602/1602958.svg">
        </div>
        <div class="col-8">
          <p class="font-weight-bold">Ibrahima Kindy Bah</p>
          <p class="font-weight-normal">Marketeur</p>
          <p class="font-weight-lighter">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore aut natus, illum sit dicta distinctio porro a hic? Sit, amet error quos eum veniam dignissimos. Atque temporibus neque iure sequi.</p>
        </div>
        <div class="col-2 align-self-center ">
            <a routerLink="/profil-bakeliste" class="redirect-link">
              <div class="d-flex justify-content-center"><i class="fas fa-eye"></i></div>
            </a>
        </div>
      </div>
  </div>
  <div class="container ui segment">
      <div class="row">
        <div class="col-2 ">
          <img class="ui medium image" src="https://image.flaticon.com/icons/svg/1602/1602958.svg">
        </div>
        <div class="col-8">
          <p class="font-weight-bold">Aïta Mbaye</p>
          <p class="font-weight-normal">Développeur Angular</p>
          <p class="font-weight-lighter">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore aut natus, illum sit dicta distinctio porro a hic? Sit, amet error quos eum veniam dignissimos. Atque temporibus neque iure sequi.</p>
        </div>
        <div class="col-2 align-self-center ">
            <a routerLink="/profil-bakeliste" class="redirect-link">
              <div class="d-flex justify-content-center"><i class="fas fa-eye"></i></div>
            </a>
        </div>
      </div>
  </div>
  <div class="container ui segment">
      <div class="row">
        <div class="col-2 ">
          <img class="ui medium image" src="https://image.flaticon.com/icons/svg/1602/1602958.svg">
        </div>
        <div class="col-8">
          <p class="font-weight-bold">Prince Diouf</p>
          <p class="font-weight-normal">Développeur Python/ Django</p>
          <p class="font-weight-lighter">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore aut natus, illum sit dicta distinctio porro a hic? Sit, amet error quos eum veniam dignissimos. Atque temporibus neque iure sequi.</p>
        </div>
        <div class="col-2 align-self-center ">
            <a routerLink="/profil-bakeliste" class="redirect-link">
              <div class="d-flex justify-content-center"><i class="fas fa-eye"></i></div>
            </a>
        </div>
      </div>
  </div>
  <div class="container ui segment">
      <div class="row">
        <div class="col-2 ">
          <img class="ui medium image" src="https://image.flaticon.com/icons/svg/1602/1602958.svg">
        </div>
        <div class="col-8">
          <p class="font-weight-bold">Jesus Christ Diatta</p>
          <p class="font-weight-normal">Développeur Python/ Django</p>
          <p class="font-weight-lighter">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore aut natus, illum sit dicta distinctio porro a hic? Sit, amet error quos eum veniam dignissimos. Atque temporibus neque iure sequi.</p>
        </div>
        <div class="col-2 align-self-center ">
            <a routerLink="/profil-bakeliste" class="redirect-link">
              <div class="d-flex justify-content-center"><i class="fas fa-eye"></i></div>
            </a>
        </div>
      </div>
  </div>
  <div class="container ui segment">
      <div class="row">
        <div class="col-2 ">
            <img class="ui medium image " src="https://image.flaticon.com/icons/svg/1602/1602958.svg">
        </div>
        <div class="col-8">
          <p class="font-weight-bold">Assane Diatta</p>
          <p class="font-weight-normal">Développeur Python/ Django</p>
          <p class="font-weight-lighter">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore aut natus, illum sit dicta distinctio porro a hic? Sit, amet error quos eum veniam dignissimos. Atque temporibus neque iure sequi.</p>
        </div>
        <div class="col-2 align-self-center ">
            <a routerLink="/profil-bakeliste" class="redirect-link">
              <div class="d-flex justify-content-center"><i class="fas fa-eye"></i></div>
            </a>
        </div>
      </div>
  </div>
  
  
</section>
<hr>
<app-footer></app-footer>
