<section id="cvBakeli">
  <div class="returnBack-btn-container">
    <a href="#" data-toggle="tooltip" data-placement="top" title="Revenir à la page d'accueil" class="btn btn-default returnBack-btn">
      <i class="fas fa-arrow-circle-left fa-4x"></i>
    </a>
  </div>
  <hr>
  <h1 class="text-center">
    <span class="">Profil de</span><span class=""> AigleNoir</span>
  </h1>
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-md-8 left-side-desktop">
        <div class="projets-container">
          <h2 class="projet">Projets Realisés</h2>
          <div class="projet-item-container">
            <h2>Nom Projet</h2>
            <h3>Technologie</h3>
            <ul>
              <li>Taches effectuees dans le projet </li>
            </ul>
          </div>
          <hr />
          <div class="projet-item-container">
            <h2>Nom Projet</h2>
            <h3>Technologie</h3>
            <ul>
              <li>Taches effectuees dans le projet </li>
            </ul>
          </div>
          <hr />
          <div class="projet-item-container">
            <h2>Nom Projet</h2>
            <h3>Technologie</h3>
            <ul>
              <li>Taches effectuees dans le projet </li>
            </ul>
          </div>
          <hr />
        </div>
        <div class="education-container">
          <h2 class="projet">Education</h2>
          <h3>Diplome - Année</h3>
          <p>Université / Ecole</p>
        </div>

        <div id="portfolio-bakeliste">
            <h2 class="projet portfolio-title">Portfolio</h2>
            <div class="portfolio-items">
              <div class="col-md-4 portfolio-item">
                <img src="/assets/images/portfol1.png" alt="" class="img-responsive img-item">
              </div>
              <div class="col-md-4 portfolio-item">
                <img src="/assets/images/portfol2.png" alt="" class="img-responsive img-item">
              </div>
              <div class="col-md-4 portfolio-item">
                <img src="/assets/images/portfol3.jpg" alt="" class="img-responsive img-item">
              </div>
            </div>
        </div>

      </div>
      <div class="col-md-3 right-side-desktop">
        <p class="tec">Technologies </p>
        <ul>
          <li>Technologies utilises</li>
        </ul>
        <p class="tec">languages </p>
        <ul>
          <li>languages utilisees</li>
        </ul>
        <p class="tec">Motivations </p>
        <ul>
          <li>Why should we choose you?</li>
        </ul>
      </div>
    </div>

    
  </div>
</section>