<section>
  <div class="container">
    <div class="row marge_row">
    <div class="col-sm-8">
      <h1>Nom et Prenom</h1>
      <h3>formations</h3>
      <h3>Disponibilite</h3>
    </div>
    <div class="col-sm-3">
      <img src="/assets/images/download.png">
    </div>
  </div> 
  <div class="row">
      <div class="col-sm-8">
        <p class="projet">projets Realises</p>
        <h2>Nom Projet</h2>
        <h3>Technologie</h3>
        <ul>
        <li>Taches effectuees dans le projet </li>
        </ul>
        <h2>Nom Projet</h2>
        <h3>Technologie</h3>
        <ul>
        <li>Taches effectuees dans le projet </li>
        </ul>
        <h2>Nom Projet</h2>
        <h3>Technologie</h3>
        <ul>
        <li>Taches effectuees dans le projet </li>
        </ul>
        <p class="projet">Education</p>
        <h2>Diplome -annee</h2>
        <p>Location</p>
      </div>
      <div class="col-sm-3">
        <p class="tec">Technologies </p>
          <ul>
          <li>Technologies utilises</li>
        </ul>
        <p class="tec">languages </p>
            <ul>
            <li>languages utilisees</li>
          </ul>
          <p class="tec">Motivations </p>
              <ul>
              <li>Why should we choose you?</li>
            </ul>
      </div>
  </div>
  </div>
</section>
