
<section id="howtowork">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-3">
        <div class="ui card">
          <div class="image ">
             <!--<img src="/images/avatar2/large/kristy.png">-->
             <i class="fas fa-file-signature "></i>
          </div>
          <div class="content">
            <a class="header">Inscrivez-vous</a>
            <div class="description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <i class="fas fa-chevron-right"></i>
      </div>
      <div class="col-md-3">
        <div class="ui card">
          <div class="image">
            <!--<img src="/images/avatar2/large/kristy.png">-->
            <i class="fas fa-check-double"></i>
          </div>
          <div class="content">
            <a class="header">Sélectionnez les profils</a>
            <div class="description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <i class="fas fa-chevron-right"></i>
      </div>
      <div class="col-md-3">
        <div class="ui card">
          <div class="image">
             <!--<img src="/images/avatar2/large/kristy.png">-->
             <i class="fas fa-phone"></i>
          </div>
          <div class="content">
            <a class="header">Nous vous Contactons</a>
            <div class="description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<hr>