.fas {
    color: #ff9800;
    font-size: 8em;
    margin-left: 35%;
    margin-top: 20%;
    margin-bottom: 20%
    
}
.fa-chevron-right{
    margin-left: 0px;
    color: #f44336;
    
    
}

#howtowork {
    padding: 60px 0px;
}