.bakeliste-dev .img-container img {
    border: 4px solid #009688;
    border-radius: 50%;
    height: 125px !important;
    padding: 5px;
    width: 125px !important;
    text-align: center !important;
    display: inline-block !important;
}
.bakeliste-designer .img-container img {
    border: 4px solid #F34336;
    border-radius: 50%;
    height: 125px !important;
    padding: 5px;
    width: 125px !important;
    text-align: center !important;
    display: inline-block !important;
}
.bakeliste-business .img-container img {
    border: 4px solid #ff9800;
    border-radius: 50%;
    height: 125px !important;
    padding: 5px;
    width: 125px !important;
    text-align: center !important;
    display: inline-block !important;
}
.bakeliste-marketeur .img-container img {
    border: 4px solid #ff9800;
    border-radius: 50%;
    height: 125px !important;
    padding: 5px;
    width: 125px !important;
    text-align: center !important;
    display: inline-block !important;
}
.pseudonyme {
    text-align: center;
    font-size: 20px;
}
.titre-bakeliste {
    text-align: center;
}
.skills {
    text-align: center;
}
.bakeliste-dev {
    position: relative;
}
.skills a {
    display: inline-block !important;
    margin-bottom: 5px !important;
}
.portfolio-item{
    float: left;
}
.img-item{
    width: 100%;
}
.portfolio-title{
    margin-top: 15px
}
.education-container{
    margin-bottom: 20px;
}
div#portfolio-bakeliste {
    margin-bottom: 39px;
}

.portfolio-items {
    margin-top: 15px;
}

.col-md-4.portfolio-item {
    border: 1px solid #ececec;
    height: 306px;
    padding: 5px;
}
section#cvBakeli {
    margin-bottom: 130px;
}
.img-container {
    text-align: center;
}
h1 span:last-child {
    color: #009688;
    margin-right: 1rem;
    text-align: center;
    font-weight: 700;
    line-height: 1.28571429em;
    font-weight: 700;
    font-size: 38px;
  }
  h1 span:first-child {
    margin-right: 1rem;
    font-weight: 700;
    line-height: 1.28571429em;
    font-weight: 700;
    font-size: 38px;
  }
  h1.text-center {
    padding: 15px;
  }
  
  /* span{
    font-size:15px;
  } */

  .ui.submit.button.submit_container {
    width: 100%;
}

.ui.submit.button.submit_container button {
    font-size: 20px;
    color:  #fff;
    font-weight: 600;
}

.volkeno-green-bgcolor{
    background-color: #009688 !important;
    border-color: #009688 !important;
}
.volkeno-green-color{
    color: #009688 !important;
}
.volkeno-green-bgcolor-transparent{
    background-color: transparent !important;
    border-color: #ececec !important;
}

.volkeno-red-bgcolor{
    background-color: #f34336 !important;
    border-color: #f34336 !important;
}

.form-error{
    margin-top: 5px;
}

span.required_asterix {
    font-size: 19px;
    font-weight: 600;
    color: red;
  }