.form-content{
    align-content: center;
    padding: 3px;
    border: 1px solid #009688;
    text-align: center;
    color: white;
    margin-top: 50px;
}

.form-in{
    padding: 3px;
    color:#009688;

}

label{
    color:#009688;
}

.header{
text-align: center;
text-transform: uppercase;
color: #009688;
font-size: 60px;
}

.card-header
{
   text-align: center;
    background-color: #009688 !important;
}

.inputstyle
{
    border: 1px solid #009688 !important;
}

.button
{
    background-color: #009688;
    color: white;
    width: 120px;
}
a{
    float: right;
    color: #009688;
}
h1 {
    margin-top: 0;
    font-size: 3rem;
    margin: auto;
    margin-bottom: 20px;
    text-align: center;
  
  }

  .section{
    padding:60px 0px;
    margin-bottom:100px;
  }
  .container{
    margin-bottom: 80px;
  }
  h1 div {
    position: relative;
    float: left;
    text-align: center;
  }
  h1 span:last-child {
    color: #009688;
    margin-right: 1rem;
    text-align: center;
  }
  h1 span:last-child {
    margin-right: 1rem;
    text-align: center;
    font-weight: 700;
    line-height: 1.28571429em;
    font-weight: 700;
    font-size: 38px;
  }
  .ui.submit.button.submit_container {
    width: 100%;
}

.ui.submit.button.submit_container button {
    font-size: 20px;
    color:  #fff;
    font-weight: 600;
}