<section class="row">
  <div class="container">
      <hr>
    <h1 class="text-center">
        <span class="">Welcome to Talents</span><span class=""> Bakeli</span>
    </h1>
    <hr>
      <div class="card form-content col-md-6 offset-md-3 shadow-lg p-3 mb-5 bg-white rounded">
          <div class="card-header">
      <h1>
          <span class="fa fa-sign-in fa-2x"></span>&nbsp;&nbsp;Connecter Vous!</h1>
          </div>
      <div class="ui inverted form form-in">
          <hr>
          <div class="field">
            <input  class="inputstyle" placeholder="Email"  name="email" type="text">
          </div>
          <div class="field">
            <input class="inputstyle" placeholder="Mot de Pass" type="text">
          </div>
        <hr>
         
        
      </div>
        <!-- <div class="inline field">
          <div class="ui checkbox">
            <input type="checkbox" tabindex="0" class="hidden">
            <label>I agree to the terms and conditions</label>
          </div>
        </div> -->
        <div class="ui submit button">Connecter</div>
      </div>
    </div>
  </section>
  