<section id="customers">
  <div class="container">
    <div class="row">
      <h1 class="text-center">
        <span class="">ILS ONT RECRUTE</span><span class=""> DES BAKELISTES</span>
      </h1>
      <div class="col-md-12">
        <div id="customer-logo-container" class="customers-container">
          <div class="logo_container">
            <img src="/assets/images/ouiCarryTransparent.png" alt="" class="customer-logo-item">
          </div>
          <div class="logo_container">
              <img src="/assets/images/fireflyTransparent.png" alt="" class="customer-logo-item">
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
<hr>